.body-style {
    background-color: #ebebeb;
}

.form-style {
    top: 25%;
    height: 40%;
    width: 30%;
    left: 35%;
    position: absolute;
}

.button-style {
    background-color: green;
    border: none;
    font-size: medium;
    color: white;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.forgot-password-style {
    text-align: end;
}