<div class="body-style height-100">
    <form class="form-style" [formGroup]="loginForm">
        <mat-card fxFlex="100">
            <mat-card-title>Login</mat-card-title>
            <div fxLayout="column" fxLayoutGap="10px">
                <div>
                    <mat-form-field fxFlex="100">
                        <mat-label>Email ID</mat-label>
                        <input matInput formControlName="username" required>
                        <mat-error *ngIf="loginForm.get('username').invalid">Invalid Email ID</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="100">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" required appHidePassword>
                        <mat-error *ngIf="loginForm.get('password').invalid">Invalid Email ID</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button class="button-style" fxFlex="100" [disabled]="loginForm.invalid"
                        (click)="loginUser()">Login</button>
                </div>
                <div fxLayout="row">
                    <div fxFlex="50">
                        <a href="/signup">New User? Create One</a>
                    </div>
                    <div fxFlex="50" class="forgot-password-style">
                        <a href="/forgot-password">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </mat-card>
    </form>
</div>