@import '../../variables';

.sidenav-container {
    height: 100vh;
}

.header-style {
    padding: 10px;
    background-color: $primaryColor;
}

.bars-style {
    font-size: x-large;
    color: white;
}

.router-active-style {
    background-color: $shadedPrimaryColor !important;
}

.profile-style {
    position: absolute;
    right: 0px;
}

.mat-divider-vertical {
    border-right-color: white;
}