<div>
    <mat-tab-group>
        <mat-tab label="Summary">
            <ng-template matTabContent>
                <app-summary></app-summary>
            </ng-template>
        </mat-tab>
        <mat-tab label="Assigned Issues">
            <ng-template matTabContent>
                <app-assigned-issues></app-assigned-issues>
            </ng-template>
        </mat-tab>
        <mat-tab label="Worklogs">
            <ng-template matTabContent>
                <app-worklogs></app-worklogs>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>