.add-div-style {
    position: absolute;
    right: 10px;
}

.search-add-style {
    margin-top: 50px;
}

.body-style {
    margin: 10px;
}

.table-style {
    margin-top: 20px;
}

.add-style {
    margin-left: 2px;
}
