<div class="body-style height-100">
    <form class="form-style" [formGroup]="signUpForm">
        <mat-card fxFlex="100">
            <mat-card-title>Sign Up</mat-card-title>
            <div fxLayout="column" fxLayoutGap="10px">
                <div>
                    <mat-form-field fxFlex="100">
                        <mat-label>Email ID</mat-label>
                        <input matInput formControlName="username" required>
                        <mat-error *ngIf="signUpForm.get('username').invalid">Invalid Email ID</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="100">
                        <mat-label>Security Question</mat-label>
                        <mat-select formControlName="securityQuestion" required>
                            <mat-option *ngFor="let securityQuestion of securityQuestions" [value]="securityQuestion">
                                {{ securityQuestion.securityQuestion }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="100">
                        <mat-label>Answer</mat-label>
                        <input matInput type="text" formControlName="securityAnswer" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="100">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" appHidePassword required>
                        <mat-error *ngIf="signUpForm.get('password').invalid">Min 5 characters required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="100">
                        <mat-label>Verify Password</mat-label>
                        <input matInput type="password" [(ngModel)]="verifyPassword"
                            [ngModelOptions]="{standalone: true}" appHidePassword required>
                        <mat-error *ngIf="verifyPassword && signUpForm.value.password !== verifyPassword">Password
                            Mismatch</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button class="button-style" fxFlex="100" [disabled]="!isValidForm()"
                        (click)="registerUser()">Register</button>
                </div>
                <div>
                    <a href="/login">Existing User? Login</a>
                </div>
            </div>
        </mat-card>
    </form>
</div>