.body-style {
    background-color: #ebebeb;
}

.form-style {
    top: 30%;
    height: 40%;
    width: 30%;
    left: 35%;
    position: absolute;
}

.button-style {
    height: 30px;
    margin-top: 20px;
}