.body-style {
    background-color: #ebebeb;
}

.form-style {
    top: 20%;
    height: 50%;
    width: 30%;
    left: 35%;
    position: absolute;
}

.button-style {
    height: 30px;
    margin-top: 20px;
}

.forgot-password-style {
    text-align: end;
}

.email-sent-style {
    left: 30%;
    top: 30%;
    position: absolute;
    font-size: larger;
}