<div class="body-style height-100">
    <form class="form-style" [formGroup]="forgotPasswordForm" *ngIf="!linkSent">
        <mat-card fxFlex="100">
            <mat-card-title>Forgot Password</mat-card-title>
            <div fxLayout="column" fxLayoutGap="10px">
                <div>
                    <mat-form-field fxFlex="100">
                        <mat-label>Email ID</mat-label>
                        <input matInput formControlName="username" required>
                        <mat-error *ngIf="forgotPasswordForm.get('username').invalid">Invalid Email ID</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="100">
                        <mat-label>Security Question</mat-label>
                        <mat-select formControlName="securityQuestionId" required>
                            <mat-option *ngFor="let securityQuestion of securityQuestions"
                                [value]="securityQuestion.id">
                                {{ securityQuestion.securityQuestion }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="100">
                        <mat-label>Answer</mat-label>
                        <input matInput type="text" formControlName="securityAnswer" required>
                    </mat-form-field>
                </div>
                <div>
                    <button class="button-style" fxFlex="100" [disabled]="forgotPasswordForm.invalid"
                        (click)="sendForgotPasswordToken()">Next</button>
                </div>
                <div fxLayout="row">
                    <div fxFlex="50">
                        <a href="/signup">New User? Create One</a>
                    </div>
                    <div fxFlex="50" class="forgot-password-style">
                        <a href="/login">Existing User? login</a>
                    </div>
                </div>
            </div>
        </mat-card>
    </form>
    <div *ngIf="linkSent" class="email-sent-style">An email has been sent to {{ forgotPasswordForm.value.username }}
    </div>
</div>