.close-icon {
    font-size: x-large;
}

.close-div-style {
    text-align: end;
}

.main-div-style {
    margin-top: 5%;
}

.button-style {
    margin-top: 20px;
}

.mat-icon {
    width: 15px;
    margin-right: 0px;
}